name: Release

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    - run: npm ci
    - run: npm run postinstall
    - run: npm run grammar
    - run: npm run build
    - run: npx cap sync
    - run: echo $(KEYSTORE_BASE64) | base64 -d > release-keystore
      env:
        KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
    - run: npx cap build android --androidreleasetype APK --keystorepath release-keystore --keystorealias QuokkaOrg --keystorepass "$(KEYSTORE_PASSWORD)" --keystorealiaspass "$(KEYSTORE_ALIAS_PASSWORD)"
      env:
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_BASE64 }}
        KEYSTORE_ALIAS_PASSWORD: ${{ secrets.KEYSTORE_ALIAS }}
